*{
    margin: 0; 
    padding: 0;             
    font-family: arial;
    border: border-box;
    color: rgb(39, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{

    background-position-x: center;
    background-size: cover;
    color: rgb(255, 250, 250);
  }
      /*.h{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#800000;
    color: rgb(255, 255, 255);
  }*/
  
  .navbar{
    height: 50%;
    padding: 40px;
  display: flexbox ;
  text-size-adjust: 20px;
  background-color: #50bda2;
  margin: 2 px;
    color: rgb(255, 255, 255);
  }

  .name{
    align-items: center;
  }
  .name:hover{
  cursor: pointer;
  }
  UL li{
    margin: 10px;
    padding: 5px;
  display: inline;
 font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  }
  ul li a
  {
    text-align: right;
    text-decoration: none; 
    size: 30px;
    color: rgb(17, 15, 15);
  }
  ul li a:hover{
  cursor: pointer;
  color: #ffffff;

  }
  .icons{
padding: 6px;
cursor: pointer;
text-align: right;
margin: 2px;
margin: 0px;
  }
  .icons a{
   padding: 10px;
  }
  .image{
    display: flex;
  }
  .T1{
    margin: 50px;
padding: 50px;
background-color: #518e7f;
border-color: #008866;
border: solid;
border: 1px solid #080807;
 box-shadow: #05664e;
 cursor: pointer;
border-radius: 10%;
box-sizing: border-box;
}
  .T1:hover{
   box-shadow: #050505;
   box-shadow: #050505;
  }
  #mySidenav a {
   
    position: absolute;
    right:-80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(19, 18, 18);
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    right: 0%;
  }
  
  #about {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #Offers {
    top: 140px;
    background-color: rgb(41, 144, 153);
  }
  
  #contact {
    top: 200px;
    background-color: #f66300
  }
.Taital-2{
  border: 1px solid rgb(178, 231, 170);
  padding: 8px;
  text-transform: uppercase;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  .Mutipal-1{
  padding: 20px; 
  display:flex;
  box-sizing: border-box;
margin: 10px;
}
.M1{
 
  margin: 30px;
  padding: 32px;
}
.M1:hover{
  cursor: pointer;
transform: matrix3d(6px);
}
.Bank1{
  text-align: center;
}
.c1{
  text-align: left;
}
.BNTimage{
  text-align: center;
  background-color: wheat;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #50bda2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}